body {
   display: grid;
   background-color: #f0b4b4;
   font-family: cochin;
   text-align: center;
}
h1 {
   transform: scale(2);
   margin: 20px;
   color: #6a1a1a;
   font-family: cochin;
}
h2 {
   transform: translateY(2.5em) scale(1.5);
   color: #6b1b1c;
   font-family: cochin;

}
.form {
   display: grid;
   padding: 1.75em;
   background-color: #8a6d80;
   grid-gap: 3;
   font-size: 20px;
}
.entry {
   background-color: bisque;
   padding-top: 10%;

}
button {
   margin: 2px;
   background-color: lightgray;
   color: #111;
   font-family: skia;
}

button onClick {
   background-color: navy;
   color: antiquewhite;
}

#details {
   width: 60%;
   height: auto;
   padding: 2px;
   margin: 5px;
   overflow: auto;
}

#name {
   width: 40%;
   padding: 2px;
   margin: 2px;
}

#date {
   width: 20%;
   padding: 2px;
   margin: 2px;
}

.submit {
   margin: 1em;
}

input {
   overflow: visible;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.details{
   width: 90%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post {
   display: block;
   color: whitesmoke;
   text-align: center;
   margin-left: 7%;
   margin-right: 7%;
   padding-top: .5em;
}

.posts {
   background-color: floralwhite;
   display: block;
   text-align: center;
   margin-left: 10%;
   margin-right: 10%;
   padding: 2%;

}

img {
   width: 70%;
   padding: 5%;

}
